* {
  box-sizing: border-box;
}
.backGroundImg {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.title {
  margin-top: 0rem;
}

.leftSidebar {
  padding-top: 3em;
  width: 20%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  z-index: 1001;
  background: #9593a5b6;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 3rem;
}
.mainButtons {
  color: white;
  margin-top: -5%;
}
.container {
  width: 100%;
  background-color: #ccc;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.scroller {
  position: absolute;
  transition: transform 350ms;
  height: 100%;
  display: flex;
}

.slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity 350ms;
}
.linkWhite {
  color: white;
}
